<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Emotes</title>
</head>

<body>
  <details class="collapse">
    <summary class="title">Era Amarela</summary>
  <div id="amarelo" class="description">
    {%- for emote in emotes.amarelo -%}
    <img loading="lazy" src="{{ emote['url'] }}" title="{{ emote['name'] }}" alt="{{ emote['name'] }}">
    {% endfor %}
  </div>
  </details>

  <details class="collapse">
    <summary class="title">Era Laranja</summary>
  <div id="laranja" class="description">
    {%- for emote in emotes.laranja -%}
    <img loading="lazy" src="{{ emote['url'] }}" title="{{ emote['name'] }}" alt="{{ emote['name'] }}">
    {% endfor %}
  </div>
  </details>

  <details class="collapse">
    <summary class="title">Era Rosa</summary>
  <div id="rosa" class="description">
    {%- for emote in emotes.rosa -%}
    <img loading="lazy" src="{{ emote['url'] }}" title="{{ emote['name'] }}" alt="{{ emote['name'] }}">
    {% endfor %}
  </div>
  </details>

  <details class="collapse">
    <summary class="title">Espaço Comunitário</summary>
  <div id="community" class="description">
    {%- for emote in emotes.community -%}
    <img loading="lazy" src="{{ emote['url'] }}" title="{{ emote['name'] }}" alt="{{ emote['name'] }}">
    {% endfor %}
  </div>
  </details>

  <details class="collapse">
    <summary class="title">Variantes</summary>
  <div id="Variantes" class="description">
    {%- for emote in emotes.outros -%}
    <img loading="lazy" src="{{ emote['url'] }}" title="{{ emote['name'] }}" alt="{{ emote['name'] }}">
    {% endfor %}
  </div>
  </details>

</body>

</html>
